body {
  font-family: 'ubuntu', sans-serif;
}

.navbar-nav li {
  margin-left: 2vh;
}

#bar-area h2 {
  margin-bottom: 1vh;
}

#bar-area .navbar {
  min-height: auto;
  margin-bottom: 3vh;
}


#pie-area h2 {
  margin-bottom: 1vh;
}


#pie-area .navbar {
  min-height: auto;
  height: 1.5em;
  margin-bottom: 3vh;
}

#donut-area h2 {
  margin-bottom: 1vh;
}

#donut-area .navbar {
  min-height: auto;
  margin-bottom: 3vh;
}

#path-area h2 {
  margin-bottom: 1vh;
}

#path-area .navbar {
  min-height: auto;
  margin-bottom: 3vh;
}

.active {
  background-color: #E78226;
}

.line {
  fill: none;
}

.col-lg-1 input {
  /* Orient vertically */
  height: 300px;
  width: 20px;
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
}

.bar-chart-rect:hover {
  fill: #6795AF;
}

.navbar-default {
  background-color: #6795AF;
}

.navbar-default li {
  padding-left: 1vh;
  padding-right: 1vh;
  color: white;
  font-family: 'ubuntu', sans-serif;
}

#bar-average li {
  margin-left: 0;
  margin-right: 3vh;
}

.navbar-default li:hover {
  cursor: pointer;
}

.axis path,
.axis line {
  stroke: darkgrey
}

.axis text {
  font-family: sans-serif;
  font-weight: bold;
  font-size: "14px";
  fill: black;
}

#line-chart .line {
  stroke-width: 2px;
}

#tap-button {
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  display:block;
  width:40vh;
  height:40vh;
  line-height:50px;
  border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  background: #464646;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
}

#search-form {
  margin-top: 10vh;
}

#place-input {
  width: 100%;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: solid;
  height: 4vh;
  font-size: 2vh;
}

div.waiting {
  z-index: 2;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

div.waiting .spinner {
  font-size: 4vh;
  left: 45%;
  top: 70%;
  position: relative;
}

#map {
  width: 550px;
  height: 450px;
}

#single-property-page h2 {
  font-family: 'ubuntu', sans-serif;
  margin-bottom: 1vh;
}

#single-property-page .navbar {
  min-height: auto;
  height: 1.5em;
  margin-bottom: 2vh;
}

#single-property-page .detail {
  margin-top: 2vh;
}
